.container {
    width: 350px;
    margin: 75px auto;
    max-width: 95%;
    height: 500px;
    overflow: auto;
    box-shadow: 0px 0px 30px #ddd;
}

.container input {
    width: 200px;
    display: block;
    margin: 10px auto;
    height: 35px;
    border-radius: 10px;
    padding: 5px;
    box-sizing: border-box;
    border: 1px solid black;
}

.container input:focus {
    outline: none;
}

.container .list {
    height: 445px;
    overflow: auto;
}

.search-result {
    margin: 5px;
    cursor: pointer;
    padding: 5px 15px;
    border-radius: 5px;
}

.search-result:hover {
    background-color: #e6e6e6;
}

.country-detail .header {
    margin: 5px 0;
    padding: 10px;
    text-align: center;
    position: relative;
}

.country-detail .header .back {
    position: absolute;
    left: 10px;
    cursor: pointer;
}

.country-detail .row {
    text-align: center;
    margin: 5px 0;
    padding: 0 5px;
}

.country-detail .row.lat-long{
    display: flex;
    justify-content: space-evenly;
}