<div class="container">
    <div class="country-list" [hidden]="hideSearchPage">
        <div class="search">
            <input #searchBox id="search-box" (keyup)="search(searchBox.value)" placeholder="Search countries" />
            <div class="list">
                <div *ngFor="let country of countries | async"
                    (click)="gotoDetail(country)" class="search-result" >
                    {{country.name}}
                </div>
            </div>
        </div>
    </div>
    <div class="country-detail" [hidden]="hideDetailPage">
        <div class="header">
            <button class="back" (click)="goToList()">Back</button>
            <b>{{currentCountry.name}}</b>
        </div>
        <div class="row flag">
            <img src="https://www.countryflags.io/{{currentCountry.alpha2Code}}/shiny/64.png">
        </div>
        <div class="row country-code">
            <span>Country Code: {{currentCountry.alpha2Code}}</span>
        </div>
        <div class="row capital">
            <span>Capital: {{currentCountry.capital}}</span>
        </div>
        <div class="row lat-long">
            <span>Latitude: {{currentCountry.latlng[0]}}</span>
            <span>Longitude: {{currentCountry.latlng[1]}}</span>
        </div>
    </div>
</div>
